<% get_predicates.each_key do |p| %>
<div class = " _WINDOW properties">
    <div class = "_WINDOW draggable _select _NO_MINIMIZE <%=css(p)%> predicate" resource="<%= (uri(p)) %>" exp="('<%=(uri(p)) %>',:p,:o)" onmouseover="Tip('<%= to_s(p) %>',DELAY, 1000);" onmouseout="UnTip();">
        <div class ="resourceuioperations _NO_MINIMIZE" >
            <div class ='_hide'>
                <span class="tool">-<span class="tip">Hide all properties values.</span></span>
            </div>
            <div class ='_show'>
                <span class="tool">+<span class="tip">Show the resource properties values</span></span>
            </div>
            <div class = "_close">
                x
            </div>
        </div>
        <%= render_resource(p) %> =
        <!-- BEGIN OBJECT -->
        <%if  get_predicates[p].size != 1 %>
        <div class = "resource _select _WINDOW draggable objects" exp="('<%=h(uri(get_resources[0])) %>','<%=  uri(p) %>',:o,:o)">
            <% end %>
            <% get_predicates[p].each do |o| %>
            <div class = " draggable  <%=css(o)%> _select object  " resource="<%=(uri(o)) %>" exp="('<%=h(uri(o)) %>',:p,:o)" onmouseover="Tip('<%= h(to_s(o)) %>',DELAY, 1000);" onmouseout="UnTip();">
                <%= render_resource(o) %>
            </div>
            <% end %>
            <%if  get_predicates[p].size != 1 %>
        </div>
        <% end %>
        <!-- END OBJECT -->
    </div>
</div>
<% end %>
