<div class ='windowheader _NO_MINIMIZE'>
    <div class="windowtitle">
        <%=resourceset.explorator::name %>(<%= get_resources.size %>)
    </div>
    <div class=' winoperations '>
        <div class ='_hide'>
            -
        </div>
        <div class ='_show'>
            +
        </div>
		<div class ='_minimize'>
            &lt;&lt;
        </div>
		<div class ='_maximize'>
&gt;&gt;
        </div>
        <div class ='_remove'>
            X
        </div>
        &nbsp;
    </div>
    &nbsp;
</div>
