<% 
Application.sets.each do |xset| 
#This typecast is necessary because ActiveRDF create every resource as RDFS::Resource
@resourceset = Application.get(xset.uri)
%> 
<%= render :partial => 'subject_view' %>
<%end%> 