<div class = "toolbar" id = "listenabledrepositories">
    <span class="blue">Enabled repositories:</span>&nbsp;&nbsp;                         <a onclick ="ajax_request('/repository/index')"><%= session[:disablerepositories].join(', ') %> </a>
</div>
