<div class ="_WINDOW config  " id ="repositorywindow" >
  <div class=' winoperations _NO_MINIMIZE '>       
        <div class ='_close'>
            X
        </div>
        &nbsp;
    </div>
    <br>
    <h1>Add Sparql Endpoint</h1>
	 <table width="100%" border="1">
        <tr>
            <td>
			Repository Title
            </td>
            <td>
               Sparql URL
            </td>
        </tr>
        <tr>
            <td>
                <input id = "sparqltitle" name = "title" value = "" size ="15"/>
            </td>
            <td>
                <input id = "sparqluri" name = "sparqlendpoint" value = "" size ="40"/>
            </td>
        </tr>
		 <tr>
            <td colspan="2" align="right">
                <input name = "title" type="button" value = "Add" onclick="new Ajax.Request('/repository/add?title='+$F($('sparqltitle'))+ '&uri=' +$F($('sparqluri')) ,{  method: 'get',  onComplete: function( transport){ alert( transport.responseText); $('repositorywindow').remove();}} );"/>
            </td>
			           
        </tr> 
    </table>
	 <h1>All Repositories</h1>
    <table width="100%" border="1">
        <%@repositories.each do |repository| %>
        <tr>
            <td>
                <%=repository.title %>
            </td>
            <td>
                <input name="<%=repository.title%>" onchange="new Ajax.Request('/repository/enable?title='+this.name,{  method: 'get'} );" type="radio" value="enable"<%= 'checked' if repository.enable %>/> Enable<input name="<%=repository.title%>" onchange="new Ajax.Request('/repository/disable?title='+this.name, {  method: 'get'} );" type="radio" value="disable"<%= 'checked' if !repository.enable %>/> Disable
            </td>
        </tr><%end %>
		 <tr>
            <td>
               &nbsp;
            </td>
            <td>
			 <input type = "button" onclick="$$('input[value=enable]').each(function(s) { s.click();});" value = "Enable All">                 <input type = "button" onclick="$$('input[value=disable]').each(function(s) { s.click();});" value = "Disable All"> 
            </td>
        </tr>
    </table>
	<br>
    <input type="button" class = "_close" name="OK" value="OK">
	<input type="button" class = "_close" name="Close" value="Close">
</div>