<div class = " _WINDOW  edge  <%=css(resource)%> querybuilderresource " set = "<%=uri(resourceset)%>" resource="<%=(uri(resource)) %>" exp="('<%=h(uri(resource)) %>',:p,:o)" onmouseover="Tip('<%= h(to_s(resource)) %>',DELAY, 1000);" onmouseout="UnTip();">
    <div class ="resourceuioperations _NO_MINIMIZE"> 
        <div class = "removerelation">
            x
        </div>
    </div>
	<table><tr><td><%= render_resource(resource) %></td></tr><tr><td><img src = "/images/arrow2.gif"/></td></tr></table> 
    <%if resource.instance_of?(BNode) %>
    <%elsif resource.type.include?(RDFS::Class) %>
    <a class ="all" exp="(:s,RDF::type,'<%=h(uri(resource)) %>')">(Instances)</a>
    <%elsif resource.type.include?(RDF::Property) %>
    <a class ="all" exp="(:s,'<%=h(uri(resource)) %>',:o)">(Used by)</a>
    <a class ="all" exp="(:s,'<%=h(uri(resource)) %>',:o,:o)">(Has values)</a>
    <%else %>
    <a class ="all" exp="(:s,:p,'<%=h(uri(resource)) %>')">(Object of)</a>
    <%end %>	
</div>
