<div class = "landmarks">
</script>
<div class= "searchform">
    <form id = "id_form_keyword">
        <input id='seachbykeyword' type=="text" value ="" size='30' name= "value"/><input type="submit" value="&nbsp; search &nbsp;">
    </form>
</div>
<div class = "landmark">
    <a onclick ="ajax_request('/css/')">CSS</a>
</div>
<div class = "landmark">
    <a id = "classes" class = "_new" exp= "SemanticExpression.new.union(:s,Namespace.lookup(:rdf,:type),Namespace.lookup(:rdfs,:Class))">All Classes</a>
</div>
<div class = "landmark">
    <a id = "properties" class = "_new" exp= "SemanticExpression.new.union(:s,Namespace.lookup(:rdf,:type),Namespace.lookup(:rdf,:Property))">All Properties</a>
</div>
<div class = "landmark">
    <a  class = "querybuildertool"  >Query</a>
</div>
<div class = "landmark">
    <a onclick ="ajax_request('/repository/index')">Repositories</a>
</div>
<div class = "landmark">
    <a onclick ="ajax_request('/application/index')">Sessions (<%=Application.instance.rdfs::label%>)</a>
</div>
<%= render :partial => '/layouts/toolbar' %> 
</div>
